apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-inference
  namespace: default
  labels:
    app: my-inference
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-inference
  template:
    metadata:
      labels:
        app: my-inference
    spec:
      initContainers:
        - name: model-cache-init
          image: harbor.pietsch.uk/library/s3modelcache@sha256:4855ca7cec352b58e1a4a4db5ff8cb5bf58ff63815ea7a85ee862b03903bdd26
          imagePullPolicy: IfNotPresent
          env:
            - name: MODEL_ID
              value: "microsoft/Phi-3-mini-4k-instruct"
            - name: MODEL_CACHE_DIR
              value: "/cache/models"
            - name: S3_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: s3-credentials
                  key: endpoint
            - name: S3_BUCKET
              valueFrom:
                secretKeyRef:
                  name: s3-credentials
                  key: bucket
            - name: S3_REGION
              valueFrom:
                secretKeyRef:
                  name: s3-credentials
                  key: region
            - name: S3_PREFIX
              valueFrom:
                secretKeyRef:
                  name: s3-credentials
                  key: prefix
            - name: S3_VERIFY_SSL
              valueFrom:
                secretKeyRef:
                  name: s3-credentials
                  key: verify_ssl
            - name: S3_STORE_AS_ARCHIVE
              value: "false"
            - name: S3_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: s3-credentials
                  key: access_key
            - name: S3_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: s3-credentials
                  key: secret_key
            - name: HUGGINGFACE_HUB_TOKEN
              valueFrom:
                secretKeyRef:
                  name: hf-token
                  key: token
          volumeMounts:
            - name: model-cache
              mountPath: /cache
      containers:
        - name: app
          image: busybox
          command:
            - sleep
            - "3600"
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: model-cache
              mountPath: /cache
          ports:
            - containerPort: 8000
      volumes:
        - name: model-cache
          persistentVolumeClaim:
            claimName: model-cache-pvc
